@media only screen and (max-width: 400px) {
    .search{
        display: flex;
        margin-bottom: 20px;
    }

    .search #icon{
        font-size: 32px;
        color: red;
        padding-top: 15px;
        margin-left: 10px;

    }
    .form{
        width: 80%;
        margin-top: 8px;
    }
}
@media only screen and (min-width: 400px) {

    .search{
        display: flex;
        margin-bottom: 20px;
    }

    .search #icon{
        font-size: 32px;
        color: red;
        padding-top: 15px;
        margin-left: 10px;
    }
    .form{
        width: 80%;
        margin-top: 8px;
    }
    
}