@media only screen and (max-width: 400px) {
    .imagedetails{
        width: 100%;
    }
    .imagedetails img{
        width: 96% ;
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .imagedetails i{
        position: absolute;
        top: 2%;
        left: 45%;
    }

  }
  @media only screen and (min-width: 400px) {
   .imagedetails img{
       width: 30% ;
       margin-top: 2%;
       margin-left: 35%;
       margin-right: 35%;
   }
   .imagedetails i{
       position: absolute;
       top: 3%;
       left: 66%;
   }
  }
  