
@media only screen and (max-width: 600px) {
    .search{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    .form{
        margin-top: 5px;
        margin-bottom: 5px;
    
    }
  }
  @media only screen and (min-width: 600px) {
    .search{
        width: 100%;
    }
    
    .input{
        width: 60%;
        margin-left: 20%;
    }
    .form{
        margin-top: 5px;
        margin-bottom: 5px;
    
    }
  }